/*General*/
body {
    width: 1000px;
    margin: 10px auto;
    background-color: darkgrey;
    color: #fff;
}

.main_wrapper {
    background-color: darkslategrey;
    padding: 10px;
}
a, a:visited{
    color: #fff;
}
a:hover{
    color: #ddd;
}
.hidden{
    display: none;
}

/*Header*/
header {
    min-height: 200px;
    padding-bottom: 10px;
}

.header_title {
    font-style: inherit;
    font-size: 72px;
    float: left;
}

.basket {
    display: inline-block;
    float: right;
    text-align: center;
    width: 250px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.basket ul{
    list-style: none;
    text-align: right;
    margin-right: 50px;
}
/*.basket ul li:nth-child(2n) {*/
.basket ul li:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
.basket ul button{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
}
.basket div {
    display: inline-block;
}

/*Content*/
.content {
    /*border-top: 3px solid white;*/
    width: 80%;
    display: inline-block;
}
.content:before {
    margin: 5px 0;
    content: '.';
    font-size: 3px;
    background-color: white;
    display: block;
    width: 980px;
}
.catalog_item{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.catalog_item:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, .3);
}
.catalog_item button{
    display: block ;
    margin: 10px auto 0;
}

/*Right_Column*/
.right_side {
    width: 17%;
    display: inline-block;
    float: right;
    margin: 15px 5px;
    text-align: right;
}

.right_side form {
    float: right;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.right_side form h3{
    margin: 0 0 10px 0;
}
.right_side form input {
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin-bottom: 3px;
    outline-style: none;
}
.right_side form input:focus {
    background-color: papayawhip;
}
.right_side form button, button {
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    outline-style: none;
}
.right_side form button:hover, button:hover {
    background-color: papayawhip;
    border-color: papayawhip;
}
.right_side form a {
    display: block;
    clear: both;
    color: #fff;
}
.toggle_button{
    text-decoration: underline;
}
.toggle_button:hover {
    color: #ddd;
    cursor: pointer;
}

/*Footer*/
footer {
    border-top: 3px solid white;
    margin-top: 15px;
    padding: 40px 0 30px;
}