/*General*/
body {
    width: 1000px;
    margin: 10px auto;
    background-color: darkgrey;
    color: #fff;
}

.main_wrapper {
    background-color: darkslategrey;
    padding: 10px;
}

/*Header*/
header {
    border-bottom: 3px solid white;
    height: 300px;
}

.basket {
    color: #fff;
    float: right;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(0,0,0,.3);
}

/*Content*/
.content {
    width: 80%;
    display: inline-block;
}

/*Right_Column*/
.right_side {
    width: 17%;
    display: inline-block;
    float: right;
    margin: 15px 5px;
    text-align: right;
}

.right_side form {
    float: right;
    text-align: center;
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(0,0,0,.3);
}

.right_side form button {
    display: block;
    /*float: right;*/
    margin: 5px auto;
}
.right_side form a {
    display: block;
    clear: both;
    color: #fff;
}


/*Footer*/
footer {

}