/*General*/
body {
    width: 1000px;
    margin: 10px auto;
    background-color: darkgrey;
    color: #ccc;
}

.main_wrapper {
    background-color: darkslategrey;
    padding: 10px;
}
a, a:visited{
    color: #fff;
}
a:hover{
    color: #ddd;
}
.hidden{
    display: none;
}

/*Admin panel*/
.admin_panel{
    height: 30px;
    background-color: #333;
    padding: 6px 4px 0 10px;
}
input.log_out{
    float: right;
    margin: 1px 4px 0 0;
    border-radius: 6px;
    border-color: transparent;
    background-color: rgba(0, 0, 0, .3);
    color: #aaa;
    cursor: pointer;
}
input.log_out:hover{
    background-color: rgba(0, 0, 0, .2);
    color: #bbbbbb;
}

/*Header*/
header {
    min-height: 200px;
    padding-bottom: 10px;
}

.header_title {
    font-style: inherit;
    font-size: 72px;
    float: left;
}

.basket {
    display: inline-block;
    float: right;
    text-align: center;
    width: 250px;
    padding: 10px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.basket ul{
    list-style: none;
    text-align: right;
    margin-right: 50px;
}
/*.basket ul li:nth-child(2n) {*/
.basket ul li:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}
.basket ul button{
    display: inline-block;
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
}
.basket div {
    display: inline-block;
}
.basket input[type='button']{
    display: block;
    margin: 5px auto;
    color: #fff;
    background-color: rgba(0, 0, 0, .3);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    outline: none;
}
.basket input[type='button']:hover{
    background-color: rgba(0, 0, 0, .2);
}
.basket input[type='button']:active{
    color: #dfdfdf;
    background-color: rgba(0, 0, 0, .15);
    padding: 6px 9px 4px 11px;
}

/*Content*/
.content {
    /*border-top: 3px solid white;*/
    width: 80%;
    display: inline-block;
}
.content:before {
    margin: 5px 0;
    content: '.';
    font-size: 3px;
    background-color: white;
    display: block;
    width: 980px;
}
.catalog_item{
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.catalog_item:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, .3);
}
.catalog_item button{
    display: block ;
    margin: 10px auto 0;
}

/*Right_Column*/
.right_side {
    width: 17%;
    display: inline-block;
    float: right;
    margin: 15px 5px;
    text-align: right;
}

.right_side form, .logged_user_menu {
    width: 96%;
    float: right;
    text-align: center;
    padding: 12px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}
.right_side form h3{
    margin: 0 0 10px 0;
}
.right_side form input {
    width: 150px;
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 3px;
    margin: 0 0 3px 0;
    outline-style: none;
}
.right_side form input[type='checkbox']{
    position: relative;
    top: 5px;
    margin-left: 3px;
    height: 18px;
    width: 18px;
}
.right_side form input:focus {
    background-color: papayawhip;
}
.right_side form button, button {
    font-size: small;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    outline-style: none;
}
.right_side form button:hover, button:hover {
    background-color: papayawhip;
    border-color: papayawhip;
}
.right_side form a {
    display: block;
    clear: both;
    color: #fff;
}
.toggle_button{
    text-decoration: underline;
}
.toggle_button:hover {
    color: #ddd;
    cursor: pointer;
}

.logged_user_menu ul{
    list-style: none;
    text-align: left;
    width: 90%;
    margin-left: -40px;
}

#create_product_form input {
    display: block;
    margin: 5px 0;
}

.user_order{
    padding: 10px;
    border-radius: 5px;
}
.user_order:nth-child(2n - 1) {
    background-color: rgba(0, 0, 0, .3);
}

/*Footer*/
footer {
    border-top: 3px solid white;
    margin-top: 15px;
    padding: 40px 0 30px;
}