.reviews {
    margin: 50px 0 0 0 ;
    display: inline-block;

}
.review_elem{
    border: 1px solid green;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
}
.add_review{
    width: 210px;
    margin: 30px 10px;
}
.add_review input[type='text'], .add_review textarea{
    /*float: right;*/
    display: block;
}
.add_review label{
    display: block;
    /*float: left;*/
}
.add_review input[type='button']{
    /*clear: both;*/
}